.custom-mfp-arrow-left {
  left: 5%;
  width: 60px;
  height: 60px;
  transform: scaleX(-1);
  z-index: 9999;
}
.custom-mfp-arrow-right {
  right: 5%;
  width: 60px;
  height: 60px;
  transform: scaleX(1);
  z-index: 9999;
}

@media (max-width: 1000px) {
  .custom-mfp-arrow-right {
    width: 40px;
    height: 40px;
    right: 10px;
  }

  .custom-mfp-arrow-left {
    width: 40px;
    height: 40px;
    left: 10px;
  }
}

@media (max-width: 860px) {
  .custom-mfp-arrow-right {
    width: 20px;
    height: 20px;
    right: 10px;
  }

  .custom-mfp-arrow-left {
    width: 20px;
    height: 20px;
    left: 10px;
  }
}

