.checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
}

.checkbox:hover input~.checkmark {
    background-color: #ccc;
}

.checkbox input:checked~.checkmark {
    background-color: $SecondColor;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox input:checked~.checkmark:after {
    display: block;
}

.checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.search-box {
    background-color: $FourthColor;
    padding: 10px;
    border-radius: 10px;
    width: 80%;

    * {
        outline: none;
    }

    h1 {
        color: $SecondColor;
        font-size: calc(20px + 1vw);
        margin-bottom: 0.7em;
    }

    .filter {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1.5em;


        select {
            background-color: $SecondColor;
            color: white;
            direction: rtl;
            border: none;
            border-radius: 110px;
            padding: 5px 15px;
            width: 20%;
            text-align: center;
            font-weight: bolder;
          


            option {
                text-align: center;
                border: none;
                padding: 5px;
                text-align: center;
                font-weight: bolder;

                &:hover option {
                    background-color: $FourthColor;

                }

                i{
                    color: white;
                }

            }
        }

        .checkboxes {
            display: flex;
            justify-content: space-between;

            .checkbox {
                margin: 0 1em;
                font-size: calc(5px + 1vw);
            }
        }
    }

    .search-input {
        width: 70%;
        display: flex;
        align-items: center;
        border-radius: 110px;
        background-color: white;
        padding: 3px;
        margin-top: 20px;

        input[type="text"] {
            width: 100%;
            border: none;
            direction: rtl;
        }

        input[type="submit"] {

            border-radius: 110px;
            color: white;
            background-color: $SecondColor;
            font-weight: bolder;
            font-size: calc(5px + 1vw);
            padding: 5px;
            border: none;
            margin: 0;
        }

        i {
            margin: 8px;

            &:hover{
                color: $SecondColor;
            }
        }
    }

}

@media (max-width:910px) {
    .search-box {

        .filter {
            flex-direction: column;
            width: 100%;
            margin: 0;

            select {
                width: 60%;
            }

            .checkboxes {
                display: flex;
                justify-content: space-between;
                margin-bottom: 2em;

                .checkbox {
                    font-size: calc(4px + 1vw);
                }
            }
        }

    }
}